apiVersion: v1 
kind: ConfigMap 
metadata: 
 name: user 
 namespace: roboshop 
data: 
  MONGO: "true"
  # REDIS_URL: "redis://redis:6379"
  # MONGO_URL: "mongodb://mongodb:27017/users"
  REDIS_URL: "{{ .Values.configMap.REDIS_URL }}"
  MONGO_URL: "{{ .Values.configMap.MONGO_URL }}"
---
apiVersion: apps/v1 
kind: Deployment 
metadata: 
 name: user 
 namespace: roboshop
 labels: 
 # these are replica set labels 
  project: roboshop
  component: user
  tier: backend
spec:
 replicas: 1 
 selector: 
  matchLabels:
  # these labels are used to select pods
    project: roboshop
    component: user
    tier: backend 
 template: 
  metadata:
   labels:
    project: roboshop
    component: user
    tier: backend
  spec:
   containers: 
    - name: user 
      image: "{{ .Values.deployment.imageRepo }}:{{ .Values.deployment.imageVersion }}"
      imagePullPolicy: Always 
      envFrom: 
      - configMapRef: 
         name: user 
      ports:
       - name: liveness-port
         containerPort: 8080
      readinessProbe:
        httpGet:
          path: /health
          port: liveness-port
        failureThreshold: 1
        periodSeconds: 15
      livenessProbe:
        httpGet:
          path: /health
          port: liveness-port
        failureThreshold: 1
        periodSeconds: 15



     

     
   
   
  
  